@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800&subset=cyrillic');

html, body {
    height:100%;
    background-color: black;
}

img {
    user-select: none;
}

.h-75-spec {
    min-height: 75vh;
}

.h-100-spec {
    min-height: 100vh;
}

.py-7 {
    padding: 105px 0px;
}

.py-6 {
    padding: 80px 0px;
}

.pt-6 {
    padding-top: 80px;
}

.us-none {
    user-select: none;
}

.link-button:hover {
    text-decoration: none;
}

.phone-number {
    right: 0;
    font-family: Montserrat;
}

input {
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    font: 16.5px Montserrat;
    padding: 10px;
    width: 100%;
    transition: 300ms;
}

input:focus {
    outline: none;
    box-shadow: 0 0 35px rgba(255,255,255,0.25);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.opacity-text {
    color: rgba(0,0,0,0.9);
}

.opacity-text-2 {
    color: rgba(255,255,255,0.45);
}

/*.bg-grad {
    background-image: linear-gradient(to bottom, #decba4, #a1b18d, #6a9481, #417476, #2c5364);
}

.bg-grad-2 {
    background: #0F2027; 
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

.bg-grad-3 {
    background-image: linear-gradient(to bottom, #0f2027, #0e1d24, #0d1b22, #0c191f, #0a161c);
}*/

.bg-grad-4 {
    background-image: linear-gradient(to bottom, #0a161c, #091419, #071216, #061013, #050d10);
}

/*.bg-grad-5 {
    background-image: linear-gradient(to bottom, #050d10, #050d10, #040d10, #040d10, #030d10);
}

.bg-grad-6 {
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
}*/

.background {
    -webkit-background-size: 100%;
    background-size: 100%;
    background-image: url(bar.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.first-section div h1 {
    font: 92px Montserrat;
    font-weight: 800;
    color: white;
}

.first-section div p {
    font: 19.5px Clear Sans;
    color: white;
}

.small-fsize {
    font-size: 13.5px;
}

.position {
    bottom: 50px;
    height: 70px;
    left: 50%;
    position: absolute;
    width: 50px;
    margin-left: -25px;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 30%;
    top: 90%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    -webkit-animation: arrow-movement 3.5s ease-in-out infinite;
    animation: arrow-movement 3.5s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: "";
    display: block;
    height: 3.1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
}

.arrow:before {
    -webkit-transform: rotate(41.3deg) translateX(-23%);
    transform: rotate(41.3deg) translateX(-23%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.arrow:after {
    -webkit-transform: rotate(-41.3deg) translateX(23%);
    transform: rotate(-41.3deg) translateX(23%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.first-section, .second-section {
    position: relative;
}

.first-section div p a, .second-section .arrow a {
    border: 2px solid white;
    padding: 0 10px 0 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 400ms;
}

.first-section div p a:hover, .second-section .arrow a:hover {
    background-color: white;
    color: black;
}

.clear-sans {
    font-family: Clear Sans;
}

.montserrat {
    font-family: Montserrat;
}

.nav-link {
    font-family: Clear Sans;
    transition: all 400ms;
}

.nav-link:hover {
    color: black;
}

.second-section .block-bg {
    min-height: 50vh;
}

.second-section h1 {
    font: 70px Montserrat;
}

.second-section p {
    font-family: Clear Sans;
    font-size: 16.9px
}

.second-section-additional {
    background-color: #232323;
}

nav {
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.45) ;
}

.bg-special {
    font-family: Clear Sans;
    background-image: linear-gradient(to bottom, #030d10, #06090d, #060609, #040304, #000000);
}

.st-work {
    font: 16px Clear Sans;
}

.st-block {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.04);
    border: 2px solid rgba(0,0,0,0.07);
    box-shadow: 0 2px 16px rgba(168, 175, 196, .5);
}

.st-block h2 {
    position: absolute;
    font-family: montserrat;
    top: -22px;
    left: 45%;
    border-radius: 50%;
    text-align: center;
    background-color: #F8F9FA;
    width: 45px;
    color: rgba(0,0,0,0.75);
}

.button-submit {
    background-color: #DF9534;
    border: 3px solid #c48635;
    border-radius: 50px;
    color: white;
    padding: 12px;
    width: 100%;
    font-size: 16.5px;
    transition: 400ms;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #c48635;
}

.button-submit:focus {
    outline: none;
}

.vklink:hover {
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .st-block h2 {
        left: 45%;
    }
}

@media screen and (max-width: 823px) {
    .second-section p {
        font-size: 16px !important;
    }
    
    .title-block {
        font-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .first-section div h1 {
        font-size: 72px;
    }
    
    .second-section p {
        font-size: 16px;
    }
    
    .second-section .arrow {
        bottom: 0;
    }
    
    input {
        width: 100%;
        margin-bottom: 13px;
    }
}

@media screen and (max-height: 823px) and (max-width: 414px) {
    .background {
        background-attachment: scroll;
        background-position: center;
    }
    
    .position {
        bottom: 85px;
    }
    
    .py-7 {
        padding: 80px 0;
    }
    
    .question {
        font-size: 17.5px !important;
    }
}

@media screen and (max-width: 823px) and (max-height: 414px) {
    .position {
        bottom: 50px;
    }
    
    .py-7 {
        padding: 80px 0;
    }
}

@media screen and (max-width: 450px) {
    .first-section div h1 {
        font-size: 50px;
    }
    
    .second-section h1 {
        font-size: 55px;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .navbar-brand {
        font-size: 16px;
    }
    
    .nav-link {
        font-size: 14.5px;
    }
    
    .mobile-product-title {
        font-size: 54px !important;
    }
    
    .position {
        bottom: 90px;
    }
}