@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800&subset=cyrillic');

html, body {
    height:100%;
}

img {
    user-select: none;
}

.h-15-spec {
    min-height: 15vh;
}

.h-40-spec {
    min-height: 40vh;
}

.h-50-spec {
    min-height: 50vh;
}

.h-75-spec {
    min-height: 75vh;
}

.h-100-spec {
    min-height: 100vh;
}

.py-7 {
    padding: 105px 0px;
}

.py-6 {
    padding: 80px 0px;
}

.pt-6 {
    padding-top: 80px;
}

.us-none {
    user-select: none;
}

.link-button:hover {
    text-decoration: none;
}

.phone-number {
    right: 0;
    font-family: Montserrat;
}

.do-btn-1 {
    color: black !important;
    background-color: #FED434;
    border-radius: 50px;
    border: 2px solid #FED434;
    transition: 400ms;
}

.do-btn-2 {
    color: white !important;
    border-radius: 50px;
    border: 2px solid white;
    transition: 400ms;
}

.do-btn-1:hover, .do-btn-2:hover {
    text-decoration: none;
}

.do-btn-1:hover {
    -webkit-filter: brightness(0.75);
    -o-filter: brightness(0.75);
    filter: brightness(0.75);
}

.do-btn-2:hover {
    background-color: white;
    color: black !important;
}

.do-comment {
    margin-bottom: 65px;
}

.do-btn-3 {
    border-radius: 4px;
    background-color: #FED434;
    padding: 20px 60px;
    color: black !important;
    transition: 400ms;
}

.do-btn-3:hover {
    text-decoration: none;
    -webkit-filter: brightness(0.75);
    -o-filter: brightness(0.75);
    filter: brightness(0.75);
}

input {
    border: none;
    border-bottom: 2.5px solid rgba(0,0,0,0.1);
    font-size: 15px;
    padding: 0px 6px !important;
    transition: 400ms;
}

input:focus {
    outline: none;
    border-bottom: 2.5px solid #FED434;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.opacity-text {
    color: rgba(0,0,0,0.9);
}

.opacity-text-2 {
    color: rgba(255,255,255,0.45);
}

.bg-grad-4 {
    background-image: linear-gradient(to bottom, #0a161c, #091419, #071216, #061013, #050d10);
}

.bg-light {
    background-color: white !important;
}

.bg-black {
    background-color: black;
}

.bg-do {
    -webkit-background-size: 100%;
    background-size: 100%;
    background-image: url(bg-do.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.bg-grad-end {
    -webkit-background-size: 100%;
    background-size: 100%;
    background-image: url(contacts.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.background {
    -webkit-background-size: 100%;
    background-size: 100%;
    background-image: url(bar.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.bg-error {
    background-image: linear-gradient(to right bottom, #ffa52f, #ff9957, #ff917a, #ff919a, #ff96b4);
}

.bg-smarttap {
    background: url(smarttap.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 2px 16px rgba(168, 175, 196, .4);
    padding: 2px;
}

.first-section div h1 {
    font: 92px Montserrat;
    font-weight: 800;
    color: white;
}

.first-section div p {
    font: 19.5px Clear Sans;
    color: white;
}

.small-fsize {
    font-size: 13.5px;
}

.position {
    bottom: 50px;
    height: 70px;
    left: 50%;
    position: absolute;
    width: 50px;
    margin-left: -25px;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 30%;
    top: 90%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    -webkit-animation: arrow-movement 3.5s ease-in-out infinite;
    animation: arrow-movement 3.5s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: "";
    display: block;
    height: 3.1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
}

.arrow:before {
    -webkit-transform: rotate(41.3deg) translateX(-23%);
    transform: rotate(41.3deg) translateX(-23%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.arrow:after {
    -webkit-transform: rotate(-41.3deg) translateX(23%);
    transform: rotate(-41.3deg) translateX(23%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.first-section, .second-section {
    position: relative;
}

.first-section div p a, .second-section .arrow a {
    border: 2px solid white;
    padding: 0 10px 0 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 400ms;
}

.first-section div p a:hover, .second-section .arrow a:hover {
    background-color: white;
    color: black;
}

.clear-sans {
    font-family: Clear Sans;
}

.montserrat {
    font-family: Montserrat;
}

.nav-link {
    font-family: Clear Sans;
    transition: all 400ms;
}

.nav-link:hover {
    color: black;
}

.second-section .block-bg {
    min-height: 50vh;
}

.second-section h1 {
    font: 70px Montserrat;
}

.second-section p {
    font-family: Clear Sans;
    font-size: 16.9px
}

nav {
    background-color: rgba(0,0,0,0.6);
}

.st-block-big {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.04);
    border: 2px solid rgba(0,0,0,0.07);
    box-shadow: 0px 0px 16px rgba(168, 175, 196, .5);
}

.st-work {
    font: 16px Clear Sans;
}

.st-block {
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgba(168, 175, 196, .5);
}

.st-block h2 {
    position: absolute;
    font-family: montserrat;
    top: -22px;
    left: 45%;
    border-radius: 50%;
    text-align: center;
    background-color: #FED434;
    width: 43.5px;
    color: rgba(0,0,0,0.75);
    user-select: none;
}

.button-submit {
    border: 4px solid #FED434;
    color: black;
    padding: 12px;
    transition: 400ms;
}

.button-submit:hover {
    background-color: #FED434;
    color: black;
    text-decoration: none;
}

.button-submit:focus {
    outline: none;
}

.vklink:hover {
    text-decoration: none;
}

.img-custom-1 {
    width: 75px;
    height: 75px;
}

.img-custom-2 {
    width: 90px;
    height: 90px;
}

.img-custom-3 {
    width: 100px;
    height: 100px;
}

.img-custom-4 {
    width: 80px;
    height: 80px;
}

.img-custom-5 {
    width: 50px;
    height: 50px;
}

.img-custom-6 {
    width: 350px;
}

.img-custom-7 {
    width: 20px;
    height: 20px;
}

.img-custom-8 {
    width: 22px;
    height: 22px;
}

.error-title {
    font-family: Helvetica Neue;
    letter-spacing: 15px;
    font-size: 280px;
    text-shadow: 10px 10px rgba(255,255,255,0.5);
}

.error-text {
    text-shadow: 0px 0px 3px rgba(255,255,255,0.5);
}

.error-btn {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
    font-size: 17px;
    color: black;
    transition: 400ms;
}

.error-btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: black;
    text-decoration: none;
}

.form-submit {
    border: 2px solid rgba(255,255,255,0.05);
    border-radius: 10px;
}

.contact-form {
    background-color: white;
    box-shadow: 0 0 8px 1.25px rgba(255,255,255,0.45)
}

.contact-form p {
    font-size: 17.5px;
}

.autobarius {

}

@media screen and (max-width: 1024px) {
    input {
        margin-bottom: 13px;
    }
    
    .w-50 {
        width: 100% !important;
    }
}

@media screen and (max-width: 823px) {
    .second-section p {
        font-size: 16px !important;
    }

    .title-block {
        font-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .first-section div h1 {
        font-size: 72px;
    }

    .second-section p {
        font-size: 16px;
    }

    .second-section .arrow {
        bottom: 0;
    }

    .error-title {
        font-size: 160px;
    }

    .st-block {
        margin: 0;
    }
    
    .do-btn-1, .do-btn-2 {
        font-size: 15px;
    }
    
    #contacts h1 {
        font-size: 28.5px !important;
    }
    
    .contact-form {
        width: 100% !important;
    }
}

@media screen and (max-height: 823px) and (max-width: 414px) {
    .background {
        background-attachment: scroll;
        background-position: center;
    }

    .position {
        bottom: 85px;
    }

    .py-7 {
        padding: 80px 0;
    }

    .question {
        font-size: 19px !important;
    }
}

@media screen and (max-width: 823px) and (max-height: 414px) {
    .position {
        bottom: 50px;
    }

    .py-7 {
        padding: 80px 0;
    }
}

@media screen and (max-width: 450px) {
    .first-section div h1 {
        font-size: 50px;
    }

    .second-section h1 {
        font-size: 55px;
    }

    .error-title {
        font-size: 130px;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .navbar-brand {
        font-size: 16px;
    }

    .nav-link {
        font-size: 14.5px;
    }

    .mobile-product-title {
        font-size: 54px !important;
    }

    .position {
        bottom: 30px;
    }

    .st-block h1 {
        font-size: 45px !important;
    }
    
    .do-btn-1, .do-btn-2 {
        font-size: 12px;
    }
    
    .do-btn-3 {
        font-size: 15px;
    }
    
    #contacts h1 {
        font-size: 24px !important;
    }
    
    .contact-form {
        padding: 35px !important;
    }
}
